<h1>Editing permition</h1>

<%= render "form", permition: @permition %>

<br>

<div>
  <%= link_to "Show this permition", @permition %> |
  <%= link_to "Back to permitions", permitions_path %>
</div>
