<h1>Editing game studio</h1>

<%= render "form", game_studio: @game_studio %>

<br>

<div>
  <%= link_to "Show this game studio", @game_studio %> |
  <%= link_to "Back to game studios", game_studios_path %>
</div>
